<!DOCTYPE html>
<html>
  <head>
    <title>Slack :)</title>
    <link rel="stylesheet" href="/lib/css/foundation.css">
    <link rel="stylesheet" href="/lib/css/normalize.css">
    <link rel="stylesheet" href="/lib/css/application.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,400italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Slack Application Engineer Exercise</a></h1>
        </li>
      </ul>
    </nav>

    <div class="container" style="margin-top:30px">
      <%if @error then %>
        <div class="alert alert-error"><%=@error%></div>
      <% end %>
      <%= yield %>
    </div>

    <script src="/lib/javascript/jquery.js"></script>
    <script src="/lib/javascript/default.js"></script>
    <script src="/lib/javascript/highlight.js"></script>
  </body>
</html>
